<main>
    <section class="user-date user-data">
        <h3>What happened in this date?</h3>
        <form id="date-form" method="post">
            <input type="date" name="factdate" id="dateInput">
            <input type="submit" value="Search in History..." formaction="/">
        </form>
    </section>
    <section class="barrier"></section>
    <section class="user-name user-data">
        <h3>Births and Deaths</h3>
        <form id="date-form" method="post">
            <input type="date" name="bddate" id="bdDateInput">
            <div class="inputs-nasc-mort">
                <input type="submit" value="Birth" formaction="/birth">
                <input type="submit" value="Death" formaction="/death">
            </div>
        </form>
    </section>
</main>
</body>
</html>