<%- include("partials/header.ejs") %>
<style>
    article {
        padding: 50px;
        font-size: 1.25rem;
    }
</style>

<article>
<strong>Introdução:</strong><br>
Este projeto tem como objetivo principal oferecer uma experiência educativa e informativa, permitindo aos usuários explorar eventos marcantes na história por meio de uma interface simples e interativa. O foco principal deste projeto é a utilização de APIs (Interfaces de Programação de Aplicações) para obter e apresentar dados históricos de maneira acessível. <br>
<br>
<strong>Recursos Principais:</strong><br>
    <ul>
        <li>API de Eventos Históricos: 
            Integração com uma API que fornece dados detalhados sobre eventos históricos relevantes. Essa API será a espinha dorsal do projeto, fornecendo informações precisas e confiáveis.</li>
        <li>Interface Gráfica Intuitiva:
            Uma interface de usuário amigável e intuitiva que permite aos usuários navegar pelos eventos históricos de forma simples e agradável.</li>
    </ul>
    <br>
</article>


<%- include("partials/footer.ejs") %>